.root {
    -fx-font-family: "Courier New";
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-accent:white;
    -fx-base: limegreen;                        /* combobox color */
    -fx-text-fill: black;                       /* no idea but seems important */
    -fx-text-background-color: black;           /* text in combobox */
    -fx-control-inner-background: lightgreen;   /* combobox list background */
    -fx-accent: limegreen;                      /* combobox selected background */
}
/*
.radio-button .radio {
    -fx-border-width: 0px;
    -fx-border-radius: 8px;
    -fx-padding: 4px;
}
.radio-button .dot {
    -fx-background-radius: 12px;
    -fx-padding: 6px;
}*/

#gameOverTitle {
    -fx-font-size: 28pt;
}

#gameOverText {
    -fx-font-size: 18pt;
}